div.container {
    background-color:#fcfcee;
    border-top:3px solid darkcyan;
    height:907px;
    width:760px
}
img.octocat {
    height: 200px;
}
h1{
    font-family: sans-serif;
    font-weight: bold;
    color:slategray;
    font-size: 40px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.line1 {
    background-color:aquamarine;
    justify-content: space-between;
}
.line2 {
    background-color:darkturquoise;
    justify-content: space-evenly;
}
.row {
    margin: 0px 20px 20px;
    padding:20px;
    display:flex;
    align-items: center;
}
.line3 {
    background-color:cyan;
    margin: 0px 20px;
    justify-content: space-between;
}
p {
    font-family: sans-serif;
    text-align: center;
}
